@charset "UTF-8";

body {
  /* ベースはRaleway使用 */
  font-family: "Lato";
}

.rale-way {
  font-family: "Raleway";
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header,
.main,
.footer {
  width: 100%;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header-icon {
  color:#6b6b6b;
  font-size: 40px;
}

.header-inner__btn {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  display: inline-block;
  transition: 0.3s;
}

.header-inner__btn:hover {
  color:#333;
}

.header-inner__menu-btn {
  display: none;
}

/* main */
.main {
  background-color: #f2f2f2	;
  padding-top: 70px;
}

.theme-inner {
  padding: 250px 0;
  text-align: center;
}

.theme__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme__text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}


.concept {
  background-color: #74cfae;
}

.concept-inner {
  padding: 50px 0 0 130px;
}

.sp-logo {
  margin-right: 50px;
  float: left;
}

.concept-inner__contents {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  float: left;
}

.concept-inner__contents__title {
  font-size: 24px;
}

.concept-inner__contents__text {
  margin-top: 35px;
  font-size: 20px;
  line-height: 25px;
  width: 700px;
}

.work-inner {
  padding: 60px 0 70px;
}

.work__title {
  font-size: 24px;
  text-align: center;
}

.work__wrapper {
  margin-top: 40px;
  font-size: 0;
}

.box-list {
  display: inline-block;
  margin: 80px 100px 0 0;
  transition: 0.3s;
}

.box-list a {
  opacity: 0.7;
}

.box-list a:hover {
  opacity: 1;
}

.box-list:nth-child(3n) {
  margin-right: 0;
}

.box-list:nth-child(-n+3) {
  margin-top: 0;
}

.work__contents {
  margin-top: 90px;
  text-align: center;
}

.work__contents__text {
  line-height: 25px;
  display: inline-block;
  width: 500px;
}

.work__contents__btn {
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  transition: 0.3s;
}

.work__contents__btn:hover {
  color: #333;
}

.skills {
  background-color: #4e4e4e;
  color: #fff;
}

.skills-inner {
  padding: 70px 0 100px;
}

.skills__title {
  font-size: 24px;
  text-align: center;
}

.skills__box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.skills__box__circle {
  margin-right: 180px;
}

.skills__box__circle:last-child {
  margin-right: 0;
}

.skills__box__circle__text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

.area-inner {
  padding: 200px 0;
  text-align: center;
  font-size: 0;
}

.area__box__icon {
  display: inline-block;
  width: 185px;
  transition: 0.3s;
}

.area__box__icon a {
  display: block;
  padding: 40px 0;
}

.area__box__icon:hover {
  background-color: #fff;
}

.area__box__icon__mark {
  font-size: 50px;
  color: #74cfae;
}

/* footer */
.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
  text-align: right;
}

.footer__copyright {
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width:1199px) {
  /*tablet用のcssを記述*/
  .inner {
    width: 97%;
  }

  .concept-inner {
    text-align: center;
    padding: 50px 0 25px;
  }

  .concept-inner__contents {
    float: none;
  }

  .concept-inner__contents__text {
    width: 100%;
  }

  .sp-logo {
    margin-right: 0;
    float: none;
  }

  .work__wrapper .box-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-list {
    margin: 0;
  }

  .work__wrapper .box-list:last-child,
  .box-list:nth-child(-n+3) {
    margin-bottom: 0;
  }

  .box-list:nth-child(3n) {
    margin-bottom: 80px;
  }

  .work__contents {
    margin-top: 80px;
  }

  .work__contents__text {
    width: 100%;
  }

  .work__contents__btn {
    margin: 40px 0 0;
  }

  .skills__box {
    display: block;
    text-align: center;
  }

  .skills__box__circle {
    margin: 0 0 88px;
  }

  .skills__box__circle:last-child {
    margin-bottom: 0;
  }

  .area__box__icon__mark {
    font-size: 40px;
  }
}

@media screen and (max-width:767px) {
  /*sp用のcssを記述*/
  .header-inner__btn {
    display: none;
  }

  .header-inner__menu-btn {
    height: 15px;
    width: 25px;
    display: block;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 10px;
    position: relative;
  }

  .header-inner__menu-btn span {
    border: solid 1px #ddd;
    position: absolute;
    left: 12px;
    height: 2px;
    width: 20px;
    background-color: #ddd;
    border-radius: 2px;
    box-sizing: border-box;
  }

  .header-inner__menu-btn span:nth-of-type(1) {
    top:9px;
  }

  .header-inner__menu-btn span:nth-of-type(2) {
    top:16px;
  }

  .header-inner__menu-btn span:nth-of-type(3) {
    bottom: 9px;
  }

  .theme-inner {
    padding: 160px 0 130px;
  }

  .theme__title {
    font-size: 80px;
  }

  .area-inner {
    padding: 50px 0;
    text-align: center;
  }

  .area__box__icon {
    display: block;
    width: 100%;
  }

}